environment:
  path_to_sln: Prism.Plugin.Popups.sln 
skip_tags: true
image: Visual Studio 2017
install:
  - choco install gitversion.portable -pre -y
  - cinst gitlink -version 2.4.1 -y
before_build:
- cmd: gitversion /l console /output buildserver
- cmd: msbuild %path_to_sln% /t:restore /p:PackageVersion=%GitVersion_FullSemVer%
build:
  project: '%path_to_sln%'
  verbosity: minimal
after_build:
- cmd: msbuild Prism.Plugin.Popups/Prism.Plugin.Popups.csproj /t:Pack /p:PackageVersion=%GitVersion_FullSemVer%
- cmd: msbuild Prism.Plugin.Popups.Autofac/Prism.Plugin.Popups.Autofac.csproj /t:Pack /p:PackageVersion=%GitVersion_FullSemVer%
- cmd: msbuild Prism.Plugin.Popups.DryIoc/Prism.Plugin.Popups.DryIoc.csproj /t:Pack /p:PackageVersion=%GitVersion_FullSemVer%
- cmd: msbuild Prism.Plugin.Popups.Ninject/Prism.Plugin.Popups.Ninject.csproj /t:Pack /p:PackageVersion=%GitVersion_FullSemVer%
- cmd: msbuild Prism.Plugin.Popups.Unity/Prism.Plugin.Popups.Unity.csproj /t:Pack /p:PackageVersion=%GitVersion_FullSemVer%
artifacts:
- path: '**/Prism.Plugin.Popups.*.nupkg'