<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Portable.Ninject" version="3.3.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Prism.Core" version="6.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Prism.Forms" version="6.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Prism.Ninject.Forms" version="6.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>